*{
    box-sizing: border-box;
}
    .dad{
        display: flex;
        flex-flow: column nowrap;
    }
        header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            background: rgba(0, 0, 0, 0.822);
        }
            h1{
                font-size: 30px;
                color: white;
                padding-right: 30px;
                padding-left: 30px;
                font-family: 'Montserrat', sans-serif;
            }
            .nav__container{
                display: flex;
                height: 100%;
                margin: 0 auto;
            }
            label{
                display: block;
                cursor: pointer;
            }
                label img{
                    height: 34px;
                }
                .item{
                    font-size: 30px;
                    color: white;
                    border: solid 1px white;
                    text-decoration: none;
                    padding: 10px;
                }
                #activo{
                    color: rgb(250, 126, 104);
                    border-bottom: solid 1px rgb(250, 126, 104);
                }
            
            .nav__menu:checked, #menu{
                display: none;
            }
            .nav__menu{
                clip-path: circle(0 at center);
                position: fixed;
                z-index: 400;
                top: 9%;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.377);
                height: 100%;
                width: 100%;
                left: 0;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                transition: clip-path .5s ease-in-out;
                background: rgba(0, 0, 0, 0.719);
                backdrop-filter: blur( 2px );
                -webkit-backdrop-filter: blur( 2px );
            }
            input:checked + .nav__menu{
                clip-path: circle(100% at center);
            }

         main{
             display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            }
            .portada{
                    background-image: url(multimedia/ft3.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 600px;
                    width: 100%;
                    margin-bottom: 0px;
            }
                h2{
                    font-size: 3em;
                    color: white;
                    border: solid 2px white;
                    padding: 6px;
                    font-family: 'Montserrat', sans-serif;
                }
                section{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                }
                    article{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    margin: 50px;
                        padding: 50px;
                        background-color: black;
                        color: white;
                    }
                        article img{
                            height: 200px;
                        }
                        article p{
                            border: solid 1px white;
                            padding: 10px;
                            font-family: 'Montserrat', sans-serif;
                        }
        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            background-color: black;
            color: white;
            height: 130px;
        }

    @media screen and (min-width: 700px){
        h1{
            font-size: 30px;
            color: white;
            padding-right: 600px;
            padding-left: 50px;
            font-family: 'Montserrat', sans-serif;
        }
        h2{
            font-size: 5em;
            color: white;
            border: solid 2px white;
            padding: 6px;
            font-family: 'Montserrat', sans-serif;
        }
        label img{
            height: 40px;
        }
        .item{
            font-size: 50px;
            color: white;
            border: solid 2px white;
            text-decoration: none;
            padding: 10px;
        }
    }